/* 
Use https://lesscss.org/ to compile less files to css. Use with Node.js: npm install -g less

Cli command:
lessc ./less/light-theme.less ./static/main.css
*/
html {
  background-color: #fff;
}
body {
  margin: 0;
  font-family: system-ui;
}
#tab-bar {
  display: flex;
  height: 40px;
}
.tab {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 30px;
  min-width: 120px;
}
.tab.active {
  background-color: #f4f4f4;
}
#editor {
  flex-direction: column;
  display: flex;
  font-size: 18px;
  min-height: calc(100vh - 40px);
  align-items: stretch;
}
#editor .content {
  padding: 15px;
  overflow: initial;
  flex: 1;
  margin: 0;
  margin-bottom: 22px;
}
#editor .content:focus {
  outline: none;
}
#status {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  user-select: none;
  padding: 3px;
  font-size: 12px;
}
