html {
  background-color: #fff;
}
body {
  margin: 0;
  font-family: system-ui;
}
#tab-bar {
  display: flex;
}
.tab {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 30px;
  min-width: 120px;
}
.tab.active {
  background-color: #f4f4f4;
}
#content {
  padding: 15px;
  font-size: 18px;
}
