/* 
Use https://lesscss.org/ to compile less files to css. Use with Node.js: npm install -g less

Cli command:
lessc ./less/light-theme.less ./static/main.css
*/
html {
  background-color: #fff;
}
body {
  margin: 0;
  font-family: system-ui;
}
#tab-bar {
  display: flex;
  height: 40px;
}
.tab {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 30px;
  min-width: 120px;
}
.tab.active {
  background-color: #f4f4f4;
}
#content {
  display: flex;
  font-size: 18px;
  min-height: calc(100vh - 40px);
  align-items: stretch;
}
#content .ql-editor {
  padding: 15px;
  overflow: initial;
  width: 100%;
  height: unset;
  margin: 0;
}
